html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.home{
    margin-top:4rem;
}

.add-basket {
    color: white;
    background-color: #FF914D;
}

.card {
    border:none;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}

.basket{
    position:relative;
}

#basket-items{
    position:absolute;
    top:32%;
    left:37%;
    color:white;
}

