@{
    ViewBag.Title = "Ödeme Tamamlandı.";
}

<div class="card">
    <div class="card-header">
        <h3> Teşekkürler! <i class="fa-regular fa-circle-check"></i> </h3>
    </div>
    <div class="card-body">
      Ödeme başarıyla tamamlandı. Siparişiniz en yakın zamanda kargoya verilecektir.
        <i class="fa-solid fa-truck"></i>
    </div>
</div>