@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid px-4">
    <img src="~/img/logo.png" alt="Alternate Text" width="200" />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Admin Paneli</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">İlaçlar</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Medicine" asp-action="Index" asp-area="Admin">İlaçları Düzenle</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-warning text-black mb-4">
                <div class="card-body">Siparişler</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-black stretched-link" asp-controller="Order" asp-action="Index" asp-area="Admin">Siparişleri Görüntüle</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>    
    </div>
</div>
